.title {
  color: #0D0D0D;
}
.main-contents {
  margin-top: 3rem;
}
.link-font {
  color: #4a4a58;
  text-decoration: underline;
  font-weight: bold;
}
.index-table {
  margin-top: 16px;
  background: #B6BDE2;
  border-radius: 5px 5px 0 0;
  color: #161618;
  font-weight: bold;
}
.index-table-data {
  background: #fff;
  border-bottom: 1px solid #EDEEF8;
  padding: 8px 0;
}
.noPublish {
  background: #DBDEF0;
  color: #0D0D0D;
  text-align: center;
  border-radius: 30px;
  font-size: 14px;
  height: 1.5rem;
  line-height: 1.5rem;
}
.publish {
  background: #FD8100;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 30px;
  font-size: 14px;
  height: 1.5rem;
  line-height: 1.5rem;
}
.create-button {
  color: #0D0D0D;
  border: 1px solid #0D0D0D;
  box-shadow: 4px 4px #0D0D0D;
  transition: all 0.3s ease;
}
.create-button:hover {
  color: #fff;
  border: 1px solid #0D0D0D;
  background: #0D0D0D;
  box-shadow: 4px 4px #fff;
  transform: translate(4px, 4px);
}
.sort-button-area {
  float: right;
}
.sort-button {
  color: #F18900;
  font-weight: bold;
  border: 2px solid #F18900;
  border-radius: 30px;
}
.sort-button:hover {
  color: #fff;
  font-weight: bold;
  background: #F18900;
  border: 2px solid #F18900;
  border-radius: 30px;
}
.action-area,
.control-data {
  display: flex;
}
.control-data {
  margin-left: auto;
}